@import "./reset.css";

@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');

:root {
    font-size: 16px;

    /* colors */
    --primary-off-white: #F4F0E6;
    --white: white;
    --dark-blue: #3D425F;
    --dark-brown: #705A52;
    --primary-green: #C6DBC3;
    --primary-yellow: #EFE6CB;
    --primary-red: #EFC0A0;
    --primary-blue: #C3CADB;

    --light-grey: #c2c2ca;

    /* border related */
    --radius-sm: 1.25rem;
    --radius-md: 6.25rem;
    --radius-lg: 12.5rem;
    --border-regular: 0.125rem;
    --border-sm: 0.1rem;
    --card-border: var(--border-sm) solid var(--light-grey);

    /* fonts */
    --logo-font: 'Josefin Slab', serif;
    --header-font: 'Roboto Slab', serif;


    --header-lg: 2.125rem;
    --header-lg-weight: 200;
    --header-md: 1.625rem;
    --header-md-weight: 200;


    --max-width: 80rem;

    /* --primary-off-white: #3A3D4C;
    --white: #242631;
    --dark-blue: #F4F0E6; */
}

@media screen and (max-width: 767px) {
    :root {
        --radius-lg: 10.5rem;
        --radius-md: 3.25rem;
    }
}

body {
    background-color: var(--white);
    color: var(--dark-blue);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.1rem;

    /* margin: 1rem; */
    /* display: grid;
    justify-content: center; */
}

/* * {
    scrollbar-color: var(--primary-green) var(--primary-off-white) ;
} */

main {
    max-width: var(--max-width);
    margin-inline: auto;
    padding-inline: 1rem;
    display: grid;
    justify-content: center;
    /* margin-top: 4rem; */

}

/* @media screen and (max-width: 767px) {
    main {
        margin-inline: 0.5rem;
    }
} */

::selection {
    background-color: var(--primary-green);
}

h1, h2, h3 {
    position: relative;
    z-index: 1;

    font-family: var(--header-font);
    font-weight: var(--header-lg-weight);
    font-size: var(--header-lg);
    text-shadow: .075rem .0rem var(--primary-green);

    &::before {
        content: "";
        width: 1.5rem;
        height: 1.5rem;
        background-color: var(--primary-green);
        position: absolute;
        top: 0.5rem;
        left: -0.75rem;
        z-index: -1;

    }

    a {
        text-decoration: none;
        color: inherit;
    }
}

p {
    text-align: justify;
}